<div class="wp_p2p_metabox {% if relationships|length > 0  %}has_items{% endif %}" data-cardinality="{{ cardinality }}">
	<div class='p2p_options'>
		<input type='text' class='search_field' data-id='{{ id }}' data-relationship='{{ relationship }}' data-allow-create='{{ allow_create }}' data-create-text='{{ __("Create entry", 'wp_p2p') }}' placeholder='{{ __("Search", 'wp_p2p') }}'>
	</div>
	<div class="list">
		{% for item in relationships %}
			<div class="item" data-id="{{ item.id }}">
				{% if cardinality == "ONE" %}
					<div></div>
				{% else %}
					<div class="handler">
						<span class="disable-select dragHandle dashicons dashicons-menu-alt2"></span>
					</div>
				{% endif %}
				<div class="title{% if cardinality == " one" %} no_handler{% endif %}">{{ item.title }}</div>
				<div class="actions">
					<span class="dashicons dashicons-trash delete" data-id="{{ item.id }}"></span>
				</div>
			</div>
		{% endfor %}
	</div>

	<input type="hidden" class="p2p_meta_value" name="p2p_{{ relationship }}" value="{{ meta }}"/>
</div>
