span {
	&.p2p_admin_list_count {
		font-weight: 500;
		// color: navy;
	}
	&.p2p_admin_list_item {
		a {
			&:hover {
				color: #b32d2e;
			}
		}
	}
}

.easy-autocomplete-container {
	li {
		margin-bottom: 0;
		span {
			&.create {
				color: red;
			}
			&.dashicons {
				padding-right: 5px;
			}
		}
	}
}
