.wp_p2p_metabox,
.wp_p2p_side {
	.search_field {
		width: 100%;
	}

	.list {
		position: relative;
		padding-top: 5px;

		&.loading {
			&:before {
				content: "\f463";
				font-family: "dashicons";
				display: inline;
				vertical-align: middle;
				position: absolute;
				top: calc(50% - 15px);
				left: calc(50% - 15px);
				font-size: 30px;
				animation: p2p-dashicons-spin 1s infinite;
				animation-timing-function: linear;
			}

			.item {
				opacity: 0.1;
				.actions {
					width: 25px;
					opacity: 0;
					transition: opacity 300ms;
					text-align: right;
					font-size: 16px;
					span {
						position: relative;
						// left: 3px;
						cursor: pointer;
						color: red;
					}
				}
			}
		}

		.item {
			width: 100%;
			display: flex;
			align-items: center;
			background-color: white;
			.handler {
				span {
					cursor: grab;
				}
			}
			.title {
				width: calc(100% - 50px);
				&.no_handler {
					width: calc(100% - 15px);
					padding-left: 10px;
				}
			}
			.actions {
				text-align: right;
				font-size: 16px;
				opacity: 0;
				span {
					position: relative;
					// left: 3px;
					cursor: pointer;
					color: red;
				}
			}

			&:hover {
				.actions {
					opacity: 0.5;
				}
			}

			&.ui-sortable-helper .handler span {
				cursor: grabbing;
			}
		}
	}
	.wp_p2p_selector {
		&__menu {
			display: block;
			z-index: 9999;
		}

		&__input:focus {
			outline: none !important;
			outline-width: 0 !important;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
}

.wp_p2p_sortable_item .item {
	// position: relative;
	border: 1px solid hsl(0, 0%, 80%);
	margin: 4px 0;
	border-radius: 4px;
	padding: 5px 2px;
	display: flex;
	align-items: center;
	// justifycontent: space-around;
	background: #fff;
	// userselect: none;
	// &:first-of-type {
	// 	margin-top: 10px;
	// }
	transition: border-color 100ms;

	&:hover {
		border-color: hsl(0, 0%, 70%);
	}

	.actions,
	.handler {
		width: 25px;
		opacity: 0;
		transition: opacity 300ms;
	}

	.actions {
		text-align: right;
		font-size: 16px;
		span {
			position: relative;
			// left: 3px;
			cursor: pointer;
			color: red;
		}
	}

	.handler {
		align-self: center;
		span {
			cursor: grab;
		}
	}

	.title {
		width: calc(100% - 50px);
		&.no_handler {
			width: calc(100% - 15px);
			padding-left: 10px;
		}
	}

	button.remove {
		position: absolute;
		right: 5px;
		top: 0;
		font-size: 3em;
		text-decoration: none;
		vertical-align: middle;
		line-height: 1.133rem;
		display: none;
		color: red;
	}

	&:hover {
		.handler,
		.actions {
			opacity: 0.5;
		}
	}
}

.wp_p2p_sortable_item.item {
	&.moviendo {
		.handler {
			span {
				cursor: grabbing;
			}
		}
	}
}

.wp_p2p_metabox {
	&.has_items[data-cardinality="ONE"] {
		.p2p_options {
			display: none;
		}
		.list {
			.item {
				& > div:first-of-type {
					width: 15px;
				}
			}
		}
	}

	.easy-autocomplete {
		width: 100% !important;
	}
	.list {
		.item {
			width: calc(100% - 4px);
			border: 1px solid hsl(0, 0%, 80%);
			margin: 4px 0;
			border-radius: 4px;
			padding: 5px 2px;
		}
	}
}

@keyframes p2p-dashicons-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
